@model Wubblog.Library.Entry
@{
	Layout = "Views/Shared/_LayoutPage.cshtml";
}
			<article>
				<header>
					<h1>@Model.Title</h1>
					<p>by @Model.Author.DisplayName on @Model.PublishDate.ToString("dd MMM yyyy")</p>
					<p><a href="#comments">@Model.Comments.Count Comment(s)</a>.</p>
				</header>
				
				<section>
				
				@Html.Raw(Model.Html)
				
				</section>
				
				<a id="comments"></a>
				@foreach(var comment in Model.Comments){
					<section>
						<h4>@comment.Name (@comment.Twitter)</h4>
						@Html.Raw(comment.Html)
					</section>
				}
				
				<form action="/entries/@Model.Reference/" method="POST">
				
					<fieldset>
						
						<legend>Add a comment</legend>
						
						<label>
							Name: <input type="text" name="name" value="" />
						</label>
						
						<label>
							Comment: <textarea name="markdown"></textarea>
						</label>
						
						<label>
							Email: <input type="text" name="email" value="" />
						</label>
						
						<label>
							Website: <input type="text" name="website" value="" />
						</label>
					
						<label>
							Twitter: <input type="text" name="twitter" value="" />
						</label>
						
						<button type="submit">Save</button>
						
					</fieldset>
					
				</form>
				
			</article>
			
			<aside>
				@Model.Description
			</aside>

