@model Wubblog.Library.Entry
@{
	Layout = "Views/Shared/_LayoutPage.cshtml";
}
			<article>
				<header>
					<h1>@Model.Title</h1>
					<p>Published: @Model.PublishDate.ToString("dd MMM yyyy") <a href="#comments">@Model.Comments.Count Comment(s)</a></p>
				</header>
				<section>
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				@Html.Raw(Model.Html)
				</section>
				
				<a id="comments"></a>
				@foreach(var comment in Model.Comments){
					<section>
						<h4>@comment.Name (@comment.Twitter)</h4>
						@Html.Raw(comment.Html)
					</section>
				}
				
			</article>
			
			<aside>
				@Model.Description
			</aside>

