@model Wubblog.Library.Entry
@{
	Layout = "Views/Shared/_LayoutPage.cshtml";
}
			<article>
				<header>
					<h1>@Model.Title</h1>
				</header>
				<section>
				@Html.Raw(Model.Html)
				</section>
				<section>
					<h2>Keywords</h2>
					<p>@Model.Keywords</p>
				</section>
				<footer>
					<h3>Published</h3>
					<p>@Model.PublishDate.ToString("dd MMM yyyy")</p>
				</footer>
				
				@foreach(var comment in Model.Comments){
					<section>
						<h4>@comment.Name says...</h4>
						<p> @comment.Twitter </p>
						@Html.Raw(comment.Html)
					</section>
				}
				
			</article>
			
			<aside>
				@Model.Description
			</aside>

